<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024956504834-l8o0mmr9jane7q91s5q8sn38b4vljub2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024956504834-l8o0mmr9jane7q91s5q8sn38b4vljub2</string>
	<key>API_KEY</key>
	<string>AIzaSyCbY7KrlWxwoFN5pb7fqK80uaPfEq7HmNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1024956504834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tweetly</string>
	<key>PROJECT_ID</key>
	<string>tweetly-af98e</string>
	<key>STORAGE_BUCKET</key>
	<string>tweetly-af98e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024956504834:ios:c8589afdd3bc0ff085801b</string>
	<key>DATABASE_URL</key>
	<string>https://tweetly-af98e.firebaseio.com</string>
</dict>
</plist>